<article class="p-project u-relative u-fill-width">

  {{!-- Image container --}}
  <header class="p-project__image-header u-relative u-mb2">
    <div class="o-aspect-ratio-placeholder--details-header"></div>
    <img class="u-absolute u-edge-top u-edge-bottom u-fill u-fit-cover" src="{{model.imageURL}}" alt="{{model.title}}">
  </header>

  <section class="p-project__body-content u-ml-auto u-mr-auto u-pl3 u-pr3">

    {{!-- Header Title Text--}}
    <header class="o-grid o-grid--align-middle">
      <h2 class="o-grid-cell u-mr-auto u-pr2">{{model.title}}</h2>

      <ul class="o-grid-cell">
        {{#each model.projectLinks as |projectLink|}}
          {{link-badge tagName="li" class="g-bg-accent-2 g-nearBlack" url=projectLink.url title=projectLink.title}}
        {{/each}}
      </ul>
    </header>

    <section>
      {{htmlSafe model.copy}}
    </section>

    <section>
      {{#if model.socialLinks.length}}
        {{#each model.socialLinks as |link|}}
          <a href={{link.url}} target="_blank" aria-label={{link.label}}>
            {{svg-icon fileName=link.iconFileName}}
          </a>
        {{/each}}
      {{/if}}
    </section>

  </section>

</article>
